// В этом файле должны быть стили для БЭМ-блока field-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

@import "../../libraries/variables";
@import "../../libraries/mixins";

.field-text {
  $block-name: &; // #{$block-name}__element

  display: block;
  margin-bottom: 17px;

  &__name {
    @include field-name;
    @include hide-text;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    @include field-text;

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + (5 * 2);

      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: none;
    }

    @media (min-width: $screen-xl) {
      min-height: 50px !important;
    }

    &--error {
      color: $color-danger;
      // border: 1px solid $color-danger;

      &:focus {
        border: 1p solid $color-danger;
      }
    }
  }

  &__help-text {
    @include field-help-text;
  }

}

label.field-text__input--error {
  font-size: 12px;
  margin: 5px 0 0 30px;
}
