// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

@import "../../libraries/variables";
@import "../../libraries/mixins";

.page-footer {
  margin-top: auto;
  background: #222222;
  color: $white;
  padding: 56px 0;
  text-align: center;

  @media (min-width: $screen-md) {
    padding: 25px 0;
  }


  &__container {
    margin: 0 auto;
    padding: 0 ($grid-gutter-width / 2);
    max-width: $max-mob;
    width: 100%;


    @media (min-width: $screen-md) {
      max-width: $max-tablet;
      padding: 0 ($grid-gutter-width + 15);

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 90px;
      align-items: center;
    }


    @media (min-width: $screen-xl) {
      max-width: $max-pc;
      padding: 0 ($grid-gutter-width);
    }
  }


  &__link {
    display: inline-block;
    margin-top: 35px;
    font-size: 18px;


    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }
}